{% set crumbs = page.url | breadcrumbs %}
{% if crumbs and crumbs.length > 1 %}
<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ul>
    {% for crumb in crumbs %}
      <li>
        {% if loop.last %}
          <span>{{ crumb.name }}</span>
        {% else %}
          <a href="{{ crumb.url }}">{{ crumb.name }}</a> &raquo;
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
{% endif %}
