---
layout: layouts/base.njk
title: "Our Blog"
pagination:
  data: collections.blog
  size: 6
  alias: post
permalink: "/blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/index.html{% else %}index.html{% endif %}"
---

<section class="py-5">
  <div class="container">
    <h1 class="mb-4">Latest Posts</h1>

    <div class="row g-4">
      {# collections.blog is defined in .eleventy.js #}
      {% for post in collections.blog %}
      <div class="col-md-6 col-lg-4">
        <article class="card h-100">
          {% if post.data.image %}
            <img class="card-img-top" src="{{ post.data.image }}" alt="">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">
              <a href="{{ post.url | url }}" class="stretched-link text-decoration-none">
                {{ post.data.title }}
              </a>
            </h5>
            <p class="text-muted small mb-2">{{ post.date | date("dd LLL yyyy") }}</p>
            <p class="card-text small">
              {{ post.data.description }}
            </p>
          </div>
        </article>
      </div>
      {% endfor %}
    </div>

  </div>
</section>
