---
layout: layouts/base.njk
title: "Award for Emergency"
date: 2025-03-15
excerpt: "A short summary of our award. Alienum phaedrum torquatos nec eu."
tags: ["event", "recap"]
---

<h2>{{ title }}</h2>
<p>Alienum phaedrum torquatos nec eu, vis detraxit periculis ex, nihil expetendis in mei. Mei an pericula est euripidis hinc.</p>